<%= form_for(@status, html: { class: "col-md-8 col-md-offset-2 well" }) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content, class: "control-label" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= f.submit class: "btn btn-block btn-info" %>
  </div>
<% end %>
