<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>
<div class="col-md-2">
  <%= link_to 'Edit', edit_status_path(@status), class: "btn btn-block btn-warning" %>
</div>
<div class="col-md-2">
  <%= link_to 'Back', statuses_path, class: "btn btn-block btn-danger" %>
</div>
